/* Overall */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}


/* Header + Headline */

.background_header_headline {
  background-image: url("../Photos/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}


/* Header */

.header {
  padding-top: 1rem;
}

header {
  max-width: 960px;
  display: flex;
  background-color: cadetblue;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: white;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logo_name {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* Headline */

.headline {
  background-color: white;
  display: inline-flex;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
}

.headline_position {
  max-width: 996px;
  margin-left: 32rem;
}
