/* Overall */

html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}


/* Header + Headline */

.background_header_headline {
  background-image: url("../Photos/glasses-bg.png");
  background-size: cover;
  height: 30rem;
}


/* Header */

.header {
  padding-top: 1rem;
}

header {
  max-width: 960px;
  display: flex;
  background-color: cadetblue;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: white;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

.logo_name {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/* Headline */

.headline {
  background-color: white;
  display: inline-flex;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
}

.headline_position {
  max-width: 996px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  align-items: center;
}


/* Features */

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8rem;
  margin: 0 auto;
}

.features_position {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  padding: 3rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 5rem;
  height: 8rem;
  text-align: center;
  justify-content: space-between;
}

.padding {
  margin-right: 6rem;
}

.width {
  width: 5rem;
}

.paper {
  width: 3.5rem;
  padding-left: 1.75rem;
}

.feature img {
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.feature span {
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}


/* Philosophy and Appointments */

.philosophy_appointments {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 5rem;
  justify-content: center;
}

.heading {
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
}


/* Philosophy */

.philosophy {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}


/* Appointments */

.appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
}


/* Footer */

.footer {
  background-color: azure;
  max-width: 960px;
  margin: 0 auto;
  align-items: center;
}

footer {
  padding: 4rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}


/* Media Query (Max-Width: 750px) */

@media only screen and (max-width: 750px) {}
